@model Dictionary<string,object>

<div class="bg-primary m-1 p-1 text-white"><h4>User Details</h4></div>

<table class="table table-bordered table-sm m-1 p-1">
    @foreach(var kvp in Model)
    {
        <tr><th>@kvp.Key</th><td>@kvp.Value</td></tr>
    }
</table>
@if (User.Identity?.IsAuthenticated ?? false)
{
    <a asp-action="Logout" asp-controller="Account" class="btn btn-danger">Logout</a>
}

<a class="btn btn-primary" asp-action="UserProps">Edit Props</a>