<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RESTFull Controllers</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <!-- <script src="~/lib/jquery/dist/jquery.js"></script>
     <script src="~/js/client.js"></script>-->
</head>
<body class="panel-body">
    <div>
        @RenderBody()
    </div>
</body>
</html>
