@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <title>Filters</title>
</head>
<body class="panel-body">
    @if (Model is string)
    {
        @Model
    } else if (Model is Dictionary<string, string>)
    {
        var mod = Model as Dictionary<string, string>;
        <table class="table table-condensed table-bordered table-striped" >
            <tr><td>Name</td><td>Value</td></tr>
            @foreach(var kvp in mod)
            {
                <tr>
                    <td>@kvp.Key</td><td>@kvp.Value</td>
                </tr>
            }

        </table>
    }
</body>
</html>