@model Dictionary<string,string>
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Controllers And Actions</title>
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/*.min.css" />
</head>
<body class="panel-body">
    <table class="table table-bordered table-condensed table-striped">
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>       
            @foreach(string key in Model.Keys)
             {
                <tr>
                    <th>@key</th>
                    <th>@Model[key]</th>
                </tr>
             }
    </table>
</body>
</html>
