<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
</head>
<body class="panel-body">
    <div class="bg-primary panel-body">
        <div class="row">
            <div class="col-xs-7">
                <h1 class="text-left">
                    Products
                </h1>
            </div>
            <div class="col-xs-5">
                <div class="panel-body">
                    @await Component.InvokeAsync("ComboComponent")
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        @RenderBody()
    </div>
    <!--await Component.InvokeAsync("PageSize");-->
</body>
</html>
